

// 변수 선언
$font-stack: sans-serif;
$primary-color: #333;
$default-title-size: 16px;

body {
  font-family: $font-stack;
  font-size: $default-title-size;
  color: $primary-color;
}

@use "base";

// 중첩 구조 지원
nav {
  ul {
    // nav ul { ... }
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      // nav ul li { ... }
      display: inline-block;
    }
  }

    // nav a { ... }
  a {
    display: block;
    text-decoration: none;
  }
}


.box {
  // "mixins."이 붙는 이유는 모듈에서 불러온 mixin을 사용하기 때문,
  // 만약 파일 내부에 정의되었다면 바로 transform으로 접근 가능
  @include base.transform(rotate(30deg));
}
