// 변수 선언
$font-stack: sans-serif;
$primary-color: #333;
$default-title-size: 16px;

  // 변수 사용
body {
  font-family: $font-stack;
  font-size: $default-title-size;
  color: $primary-color;
}

// 중첩 구조 지원
nav {
  ul {
    // nav ul { ... }
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      // nav ul li { ... }
      display: inline-block;
    }
  }

    // nav a { ... }
  a {
    display: block;
    text-decoration: none;
  }
}